<div id="slider" class="flexslider">
  <ul class="slides">
    <% @slides.each do |slide| %>
      <li><%= slide_tag(slide, '1170x') %></li>
    <% end %>
  </ul>
</div>

<div id="carousel" class="flexslider">
  <ul class="slides">
    <% @slides.each do |slide| %>
      <li><%= slide_tag(slide, '210px') %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'New Slide', new_slide_path %>
